gradio==3.16
transformers==4.26
git+https://github.com/robinhad/ukrainian-tts.git@25d6741b8184c6b30cb6cfd76be0e0573ee5ef22
# this would be needed if model would have an LM
#pyctcdecode
#https://github.com/kpu/kenlm/archive/master.zip
#sentencepiece==0.1.96